<!DOCTYPE html>
<html lang="en-us" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=12.0, minimum-scale=.25, user-scalable=yes">
  <title>{{title}} [{{id}}]</title>
  <link rel="stylesheet" href="{{ page['site-root'] }}/css/main.css">
  <script src="{{ page['site-root'] }}/js/main.js"></script>
</head>
<body class="{{ page['body-class'] }}">
  <main>
    <div id="page-tray">
      <img class="page-image {{ 'shadow' if page['page-shadow'] }}" src="{{ page['image-url'] }}">
    </div>

    <div class="nav-tray">
      {% if prev is not none %}
      <span><a href="{{ page['site-root'] }}/{{ first['url-slug'] }}" class="unicode-button" title="First page" aria-label="First page">&#x27dd;</a></span>
      <span><a href="{{ page['site-root'] }}/{{ prev['url-slug'] }}" class="unicode-button" id="prev-link" title="Previous page" aria-label="Previous page">&#x276E;</a></span>
      {% else %}
      <span style="width: 8em"></span>
      {% endif %}
      <span id="page-number">{{ id }}</span>
      {% if next is not none %}
      <span><a href="{{ page['site-root'] }}/{{ next['url-slug'] }}" class="unicode-button" id="next-link" title="Next page" aria-label="Next page">&#x276F;</a></span>
      <span><a href="{{ page['site-root'] }}/{{ last['url-slug'] }}" class="unicode-button" title="Last page" aria-label="Last page">&#x27de;</a></span>
      {% else %}
      <span style="width: 8em"></span>
      {% endif %}
    </div>
    <div class="colophon-tray">
      <span>
        {{ coda|safe }}
      </span>
      {% for link_name in links %}
        <a href="{{ links[link_name] }}" class="text-button">&#x2768;{{ link_name }}&#x2769;</a>
      {% endfor %}
    </div>
  </main>
</body>
</html>
