<!DOCTYPE html>
<html lang="en-us" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=12.0, minimum-scale=.25, user-scalable=yes">
  <title>{{title}} [{{id}}]</title>
  <link rel="stylesheet" href="{{ page['site-root'] }}/css/main.css">
  <script src="{{ page['site-root'] }}/js/hammer.min.js"></script>
  <script src="{{ page['site-root'] }}/js/main.js"></script>
</head>
<body class="{{ page['body-class'] }}">
  <main>
    <div id="page-tray">
      {{ content|safe }}
    </div>
    <div class="colophon-tray">
      <span>
        {{ coda|safe }}
      </span>
      {% for link_name in links %}
        <a href="{{ links[link_name] }}" class="text-button">&#x2768;{{ link_name }}&#x2769;</a>
      {% endfor %}
      <span class="license">
        {{ license|safe }}
      </span>
    </div>
  </main>
</body>
</html>
